.navBar {
  display: flex;
  flex-direction: row;
  padding: 40px 113px;
  gap: 17px;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}
.brandMenu {
  display: flex;
  flex-direction: row;
}
.navBar .menuMedium {
  width: 177px;
}
.menuActive{
  border-bottom: solid 4px red;
  border-radius: 4px;
}
